[2019-11-14 00:30] oliwheeler opened #7 "Environment variables unavailable in inlineScript"
Currently, only the GITHUB_WORKSPACE environment variable is set.
The other [default environment variables](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/using-environment-variables#default-environment-variables) are not available.

Environment variables set by the user in the workflow YAML are also not available.

The documentation regarding [create a Docker cont

[2019-11-22 06:33] #7 closed

[2019-12-27 03:02] yucwan opened #11 "Confused on when to use this Action"
Since you can directly run az command with `run`, like:
[code]
I'm confused when should I use this Action for Azure CLI? to use a specific CLI version? or for platforms without az installed?

[2019-12-30 04:11] jalajmsft commented on #11
Hey @yucwan yes you are correct `az commands can be run directly with the run.` However, Azure CLI releases a new version every 3 weeks which might contain breaking changes.

The run only provides with the latest version of Azure CLI thus in case of breaking changes the script might tend to fail or behave unexpectedly. To avoid such scenarios this action comes handy by mentioning the Azure CLI ver

[2020-01-02 10:25] gbohra opened #13 "Issue in using enviournment variable - GITHUB_BASE_REF and GITHUB_HEAD_REF"
Hi,

We are not able to use environment variable - GITHUB_BASE_REF and GITHUB_HEAD_REF in creating the slot command.
_az webapp deployment slot create_

We are using -slot along with GITHUB_BASE_REF or GITHUB_HEAD_REF. This is not passing blank value in slot name.

Can you check the issue?

Here is gist - https://gist.github.com/gbohra/c10ce7701e4fcdb2ac708a10727a870d

[2020-01-02 10:31] gbohra commented on #13
https://gist.github.com/gbohra/c10ce7701e4fcdb2ac708a10727a870d

[2020-01-03 18:20] anil-kumar-ma commented on #13
@gbohra : Is it resolved?

[2020-01-06 03:59] jalajmsft commented on #11
Closing this for now. Feel free to reopen for further queries.

[2020-01-06 03:59] #11 closed

[2020-01-08 05:02] jalajmsft commented on #13
Hey @gbohra , thank you for reporting this issue. We have made a fix to access environment variables with prefix `GITHUB_*` while executing the script  in the release [v1.0.2](https://github.com/Azure/cli/tree/v1.0.2).

However, the user-defined environment variables will be still inaccessible. We are working on this.

[2020-01-17 20:51] anweiss commented on #13
@jalajmsft any updates on this? it's a bit kludgy to have to append `GITHUB_` to user-defined environment variables when used in an `inlinescript`

[2020-02-04 09:38] jalajmsft commented on #13
This is resolved and deployed.

Closing this issue. Feel free to re-open for further queries.

[2020-02-04 09:38] #13 closed

[2020-07-09 11:00] akisiel1 opened #18 "Does Azure CLI Action has access to GITHUB_WORKSPACE folder?"
Hi!

I'm using your Action to push my Helm package to ACR and have a problem which I cannot solve (and understand why it's happening in the first place).

My workflow:
1) Create a Helm Package
2) Login into Azure
2) Push it into ACR with Azure CLI command `az acr helm push`

My workflow yaml:
[code]

the result:
![image](https://user-images.githubusercontent.com/17008916/87031528-8a490680-c1e3-11e

[2020-07-17 12:40] akisiel1 commented on #18
Hi is anyone here? :)

[2020-08-04 18:22] trendoid commented on #18
We started having the same problem.  It worked at one time.

[2020-08-04 18:31] trendoid opened #19 "[Errno 2] No such file or directory"
This used to work as recently as yesterday.  It's no longer working.  Would you have any advice?

name: Publish styles
      uses: Azure/cli@v1.0.0
      with:
        azcliversion: latest
        inlineScript:

`az storage blob upload-batch -s $GITHUB_WORKSPACE/.out-styles -d ui-component-library/styles/${{ steps.publishVersion.outputs.version }} --account-name ${{ secrets.STORAGE_ACCOUNT_NAME }}

[2020-08-04 18:34] bishal-pdMSFT commented on #19
`ui-component-library/styles/2-2-3` seems to be a file/directory in your package. Is this really existing?

[2020-08-04 19:42] trendoid commented on #19
@bishal-pdMSFT   ui-component-library/styles/2-2-3  is the destination folder.  It exists.  The same exact command works locally.  It has worked for over 400 times in the past without fail.

![image](https://user-images.githubusercontent.com/7746539/89337556-1c202400-d669-11ea-9aed-a462b379cb64.png)

[2020-08-04 20:07] trendoid commented on #19
specific cli version fixed it.

name: Publish styles
      uses: Azure/cli@v1.0.0
      with:
        azcliversion: 2.9.1
        inlineScript:

[2020-08-04 20:15] trendoid commented on #19
@bishal-pdMSFT    Another developer on our team @cjc061000 pointed out that Azure released today.  So just using a CLI version older than today worked.

![image](https://user-images.githubusercontent.com/7746539/89340429-bb471a80-d66d-11ea-8034-321b6c56a791.png)

[2020-08-04 20:21] bishal-pdMSFT commented on #19
Glad that the Action is serving its purpose by allowing you to choose an older version 😄

I would suggest to open an issue with Az CLI product for issue with latest version.

[2020-08-04 20:25] trendoid commented on #19
I will have to update locally to help them test but I will in the morning.

[2020-08-04 20:25] trendoid commented on #19
This can now close.  Thanks.

[2020-08-04 20:25] #19 closed

[2020-08-04 21:01] bishal-pdMSFT commented on #18
@akisiel1 the Action executes CLI script inside a container and for that it maps GITHUB_WORKSPACE folder from host to current directory in container but it won't have exact same folder structure from filesystem root as the host. This is the reason that host's path might not work in container.

The way to get it working, as hinted [here](https://github.com/Azure/cli#workflow-to-execute-an-az-cli-sc

[2020-08-30 09:50] julie-ng commented on #7
@jalajmsft - why is this closed? Expected behavior as posted by original user is still **NOT** resolved:

Yep, I need this behavior too because I want to reuse the commands and pass variables depending on environment (dev vs production). This is what I am using and it does not work.

[code]

[2020-08-30 09:52] julie-ng commented on #7
Um, no idea why @ing @jalajmsft unassigned them from issue… sorry 🤷‍♀️

[2020-09-03 08:39] julie-ng commented on #7
Nevermind, this was fixed in v1.0.3 release, but the commits never referenced this issue
https://github.com/Azure/cli/releases/tag/v1.0.3

[2020-10-20 15:15] vida-bandara-by opened #23 "Support `echo "{name}={value}" >> $GITHUB_ENV` pattern instead of deprecated `echo ::set-env name={name}::{value}` pattern"
Currently, to pass a value from Azure CLI Action step to a following step, the following pattern have to be used:
`echo ::set-env name={name}::{value}`
However, `set-env` is deprecated as explained here
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
Could you please support the following pattern for exporting environment variables
`echo "{name}={

[2020-11-19 16:17] bishal-pdMSFT commented on #23
@vida-bandara-by are you talking about the doc which use `set-env` is example?

[2020-11-19 16:36] vida-bandara-by commented on #23
Hi @bishal-pdMSFT, I am not raising an issue on the doc.
This is regarding the functionality of the Azure CLI GitHub Action.

If we need to export an environment variable from a step using Azure CLI GitHub Action, we have to use the pattern:
`echo ::set-env name={name}::{value}`
But that pattern is deprecated (please see link above).

I am requesting to support pattern
`echo "{name}={value}" >> $G

[2020-11-19 19:29] Weyker commented on #23
Hi, same problem here
the `::set-env name={name}::{value}` pattern is deprecated and we have broken CI on our services.

we already change to `echo "{name}={value}" >> $GITHUB_ENV` pattern but Azure CLI GitHub Action throw this error:
[code]

Thanks!

[2020-11-20 05:30] bishal-pdMSFT commented on #23
Thanks @vida-bandara-by @Weyker for more details. We are looking into this.

[2020-11-24 13:26] deep-mm commented on #23
Yes I have the same issue. My previous workflow used set-env, but since it is no longer valid
I am unable to set environment variables in azure cli using echo "{name}={value}" >> $GITHUB_ENV

Please update this

[2020-11-25 07:02] Weyker commented on #23
@deep-mm meanwhile u can use the ACTIONS_ALLOW_UNSECURE_COMMANDS flag and use the deprecated way.

[2020-11-27 11:34] kanika1894 commented on #23
The support for GITHUB_ENV pattern is now added.
 @vida-bandara-by @Weyker @deep-mm Please verify.

[2020-11-28 03:31] deep-mm commented on #23
Thank you for such a swift fix! It’s working for me now.

[2020-11-30 11:59] vida-bandara-by commented on #23
Thank you @kanika1894 for the fix. Confirmed it is working now. Closing the issue.

[2020-11-30 11:59] #23 closed

[2020-12-28 10:56] JCZuurmond opened #30 "Add service principal id, key and tenant id as environment variables"
Similarly to the `addSpnToEnvironment: true` option in the [Azure CLI task for a Azure DevOps pipeline](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureCLIV2), can we add the service principal id, key and tenant id as environment variables by setting a flag to true?

From the [Azure DevOps pipeline Azure CLI Task](https://github.com/microsoft/azure-pipelines-tasks/blob/ma

[2021-01-04 15:25] JCZuurmond commented on #30
It should not be marked `stale`, it is waiting for a response

[2021-01-11 02:28] saikiran-karumuri-by opened #31 "Getting network connection error while deploying ARM templates using az deployment group."
Error: Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443):
Max retries exceeded with url: /***36685-1262-420b-a94b-***********/oauth2/token
(Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f1f92433dd8>:
Failed to establish a new connection: [Errno -3] Try again',)).

Could someone please he

[2021-01-11 07:07] kanika1894 commented on #31
Hey @saikiran-karumuri-by , can you try running the action in debug mode to get more helpful logs?
You can refer https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-runner-diagnostic-logging to enable the debug mode.
It will be great if you can share the failed run.

[2021-01-11 07:10] kanika1894 commented on #30
@bishal-pdMSFT any insights on this?

[2021-01-11 07:52] kanika1894 commented on #18
@akisiel1 were you able to proceed?

[2021-01-12 15:12] bishal-pdMSFT commented on #30
This makes sense to me. @pulkitaggarwl  any objection with this?

[2021-01-12 21:18] saikiran-karumuri-by commented on #31
Even when i ran in debug mode, i`m getting the same trace - Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /c9536685-1262-420b-a94b-4f5420284680/oauth2/token (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7ff084c41c88>: Failed to establish a new connecti

[2021-01-12 21:18] saikiran-karumuri-by commented on #31
This happening intermittently.

[2021-01-19 17:13] reilem opened #32 "Misleading docs: Azure Login is NOT required"
The following section of the docs states that:

As a new user to azure, this is simply false and confusing, you do not need azure login if your AZ command works using connections strings and keys. I strongly advise against making people add an extra 10 seconds to their github actions for no reason. It is also just a good idea in general to use anonymous keys in your CI/CD which can easily be reset

[2021-01-20 08:20] JCZuurmond commented on #30
Not stale, waiting for response from @pulkitaggarwl

[2021-01-20 21:50] saikiran-karumuri-by commented on #31
Is there any update on this? As we observed when we are using Powershell i`m not seeing this error.

[2021-01-27 11:05] daniel-walz opened #33 "How do I set output for the action?"
If I run the cli action and get a response that I want to pass on to the next action, is it possible to set the output for this action?
Looking in the action.yml I can't see any output property defined.

[2021-01-27 13:53] daniel-walz commented on #33
I will close the issue since I found out that I can use bash to set the output.
`echo "::set-output name=response::$output"`

[2021-01-27 13:53] #33 closed

[2021-02-02 17:59] saikiran-karumuri-by commented on #31
@kanika1894 - Any update on this issue?

[2021-02-15 14:57] paschalidi opened #34 "Action throws error: Unable to find image 'mcr.microsoft.com/azure-cli:2.19.1' locally"
Hey all. Thanks everyone for the very good work on all the azure related github actions.
I am following this simple tutorial, in order to [host a static react website using gihube actions](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-static-site-github-actions).

I am getting an error, right after the `inlineScript` is executed. The error returns
[code]
see also image bellow

[2021-02-15 18:08] paschalidi commented on #34
Closing this. I was missing some `"` on the purge command :)

[2021-02-15 18:08] #34 closed

[2021-02-17 06:54] kanika1894 commented on #18
Closing this for now.
@akisiel1 do let us know if you face any issue.

[2021-02-17 06:54] #18 closed

[2021-02-17 07:01] kanika1894 commented on #31
Hey @saikiran-karumuri-by
This doesn't seem to be an issue specific to this action.

Is this error coming in the Az login step?
As I could find the same issue addressed here : https://github.com/Azure/azure-cli/issues/5841 , https://github.com/Azure/azure-cli/issues/15410
Have a look at these. Hopefully it helps. :)

[2021-02-17 07:02] kanika1894 commented on #32
@pulkitaggarwl Can you please take care of this?

[2021-02-17 08:03] pulkitaggarwl commented on #30
@JCZuurmond  my bad here. this one slipped through cracks. This definitely makes sense.  i am adding it as a feature request. however wanted to check if you will be willing to contribute here and raise a PR for the same.

cc @N-Usha

[2021-02-17 08:19] JCZuurmond commented on #30
I am not familiar with type script, so I recon it is going me to take me a lot of time. Would be great if you could pick it up!

[2021-02-17 10:58] N-Usha commented on #32
Thanks @reilem. Using Azure login is a pre-req if you are deploying to any Azure source using one of our [GH Actions for Azure](https://github.com/Azure/actions).  For Az CLI, the same pre-req applies. Additionally you could override the login by doing additional login step within the Az CLI script.

@kanika1894 - Can you please validate if the suggestion provided by @reilem is valid? Would the CL

[2021-02-17 18:19] reilem commented on #32
@N-Usha For example, the following would not require a login, it is authorised using a connection string:
[code]
This is just one example, there are many az commands using connection strings, tokens, keys, etc. that do not require login.

[2021-03-03 11:38] mdmsua opened #35 "Bicep support"
When I try to deploy or validate a bicep template, I'm getting the following error:
[code]

Apparently, Bicep CLI installation succeeds, but nevertheless the build fails.

The same error occurs with `az bicep install` and `az bicep build` commands.

[2021-03-03 16:27] sebader commented on #35
+1 on this :)

[2021-03-05 18:14] romerve opened #36 "Easier to identify container based action"
Hi,

I know that there is a NOTE in the docs about this action mentioning that it is docker based, but this should be towards the top. Or provided via a tag or something that easily allows to identify container based actions.

Thanks

[2021-03-16 13:20] Crisfole commented on #32
I can confirm this works as I have a script using almost exactly this az command. It's still painfully slow (32 seconds to run the upload-batch to azure, vs 4 seconds to upload the same batch of files to s3).

[2021-03-16 13:25] Crisfole opened #37 "Performance"
I tried using azure/cli to upload a batch of files to Azure Storage. Unfortunately it takes 33 seconds to upload a single mid-size file. That's down from 55 seconds when I follow the instructions in the repo that suggest azure/login is mandatory first. It's 29 second longer than it takes me to upload the files to s3 with https://github.com/shallwefootball/upload-s3-action.

I may be using azure/cl

[2021-03-16 22:27] shenglol commented on #35
This is a known issue reported in the Bicep repo: https://github.com/Azure/bicep/issues/1683. It has already fixed by https://github.com/Azure/azure-cli/pull/17180. The next release of Azure CLI should contain the fix.

[2021-03-17 20:20] miqm commented on #35
Until cli fix and next version of bicep with musl build are released you can use my simple docker image where I used debian instead alpine as a base image: https://hub.docker.com/r/miqm/bicep-cli

[2021-03-23 23:47] shenglol commented on #35
This should be fixed with the latest Azure CLI and Bicep releases.

[2021-03-25 08:13] mdmsua commented on #35
Yes, I've just tested and can confirm: it's working! 🎉

[2021-03-25 08:13] #35 closed

[2021-03-25 08:51] wiebeck commented on #11
@jalajmsft Thanks for clearing things up for me! :) One last question though: How come the `az` CLI tool is even available in a simple `run` step? Does the `azure/login` action install this tool or is it actually _always_ available?

[2021-04-07 12:28] anuragc617 commented on #31
@saikiran-karumuri-by are you still facing this issue? Also are you using self-hosted runners or GitHub hosted runners? If you are using self-hosted runners please make sure the proxy settings are correct as suggested in this az login issues https://github.com/Azure/azure-cli/issues/5841

[2021-04-07 12:36] anuragc617 commented on #30
@bishal-pdMSFT @pulkitaggarwl this issue is marked as stale. Are we planning to enhance this action to include spn id, key and tenant id as environment variables?

[2021-04-07 12:38] anuragc617 commented on #36
@N-Usha should we add tag or modify doc to tell user's that this is an container based action?

[2021-04-07 14:59] pulkitaggarwl commented on #30
@N-Usha can you please help prioritise this issue.

[2021-04-29 09:01] christophwille opened #38 "'az batch application package create' file upload failing"
Failing action:  https://github.com/christophwille/azurebatch-playground/runs/2465121361?check_suite_focus=true
Source script: https://github.com/christophwille/azurebatch-playground/blob/main/.github/workflows/simple-cicd.yml

Using

[code]

I can collect the file no problems, but the az/cli action fails me with

[code]

So the file is there, but the az/cli action doesn't see it - or I am doing s

[2021-04-29 10:18] christophwille commented on #38
ok, I decided to go down the rabbit hole and tried a few variations, and I ended up with a winner:

https://github.com/christophwille/azurebatch-playground/runs/2465690411?check_suite_focus=true

The source file for the action is here https://github.com/christophwille/azurebatch-playground/blob/main/.github/workflows/simple-cicd%20multijob.yml - the thing that makes it work is the change in the `d

[2021-05-05 18:25] tyipfadv opened #39 "Can you add a property to turn off console.log for the cli command output"
Looking at the code, you are using console.log

We are currently using an azure cli to push some appsetting for Azure function (java) such as JDBC settings and etc.  We stored the value in github secret but when we use the cli action to push it to azure, the cli action outputs all the value in clear text in the build log.   It won't pass our security audit.

   console.log(`${START_SCRIPT_EXECUTIO

[2021-05-05 18:50] tyipfadv commented on #39
I found a workaround.   I added > /dev/null 2>&1. to the end to silent the output..

[2021-05-05 18:50] #39 closed

[2021-05-26 04:09] neil-n-brown opened #40 "('Cannot connect to proxy.', NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f8e632dfdd8>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution',))"
Having issues logging into Azure via the Azure CLI on a linux machine. No issues from my Windows Machine on the same network.

I am behind a Corp Proxy and same Env settings work for windows machine but not Linux.

****Error ****
('Cannot connect to proxy.', NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f8e632dfdd8

When I use: az login --use-device-code I get the device cod

[2021-06-07 08:35] t-dedah commented on #40
Hey @neil-n-brown  can you confirm if the DNS being used is correctly configured ?

[2021-07-06 19:29] aavdberg opened #43 "az deployment what-if gives different error then az deploy create"
Today i did try to deploy a Private Link endpoint en was getting the following error when deploy with:

az deployment sub what-if --template-file .\Azure.bicep --location 'west europe' --parameters @Azure.parameters.json

error:

"error": {
    "code": "InvalidRequestFormat",
    "message": "Cannot parse the request.",
    "details": []

And this is the error what az command gives:

DeploymentWhat

[2021-07-06 19:30] aavdberg commented on #43
Using bicep to deploy.

[2021-07-06 19:31] aavdberg commented on #43
So when using what-if you get not a clear idea what is the matter.

[2021-07-14 03:45] neil-n-brown commented on #40
Hi @t-dedah sorry for the reply time. DNS configured correctly. Bit of a strange one. I was able to get it working my adding the proxy variables in both lower case and upper case.

Proxy Settings:
http_proxy=http://HKG\username:@ourproxy:8080>
https_proxy=https://HKG\username:@ourproxy:8080>
no_proxy=.microsoftonline.com,.microsoft.com,.windows.net,.azmk8s.io,.azurecr.io
HTTP_PROXY=http://HKG\user

[2021-07-14 03:45] #40 closed

[2021-07-14 03:46] neil-n-brown commented on #40
issue resolved by adding upper and lower case proxy settings.

[2021-07-15 07:21] t-dedah commented on #43
Hi @aavdberg Can you please share the template and parameter files in order to reproduce this issue?

[2021-08-02 14:39] aavdberg commented on #43
Where can i send the file @t-dedah ?

[2021-08-03 06:54] t-dedah commented on #43
@aavdberg email it to me at t-dedah@github.com

[2021-08-10 09:26] aavdberg commented on #43
Send you the files in mail

[2021-08-18 19:25] william-mcdaniels opened #49 "ERROR: az deployment: 'group' is not in the 'az deployment' command group"
Command being executed is straight from Azure CLI documentation

az deployment group create --resource-group test --template-uri template.json

[2021-09-01 18:02] #49 closed

[2021-09-06 08:52] t-dedah commented on #31
@saikiran-karumuri-by Closing this due to inactivity. Please reopen  if you are still facing the issue.

[2021-09-06 08:52] #31 closed

[2021-09-08 06:12] t-dedah commented on #38
@christophwille As this issue is from az cli itself, should we close this issue now?

[2021-09-08 06:26] christophwille commented on #38
Unless you can move it to az yes.

[2021-09-08 06:57] #38 closed

[2021-09-09 22:50] t-dedah commented on #43
Hi @aavdberg Did you test out the deployment using command line? If yes then can you please try raising this issue with azure-cli team too at https://github.com/Azure/azure-cli

As this action calls the underlying azure-cli the current error should be an issue/bug for azure-cli rather than for this action.

[2021-09-10 05:53] t-dedah commented on #36
Merged the PR for this change https://github.com/Azure/cli/pull/51

[2021-09-10 05:53] #36 closed

[2021-09-10 05:53] t-dedah commented on #32
Merged the PR for this https://github.com/Azure/cli/pull/51

[2021-09-10 05:53] #32 closed

[2021-09-17 06:11] t-dedah commented on #43
Hi @aavdberg are you still facing this issue?
If yes then can you please help azure-cli team to repo the issue or let them know the date when you last ran so that they can check their logs. https://github.com/Azure/azure-cli/issues/19540

[2021-09-24 08:12] t-dedah commented on #43
@aavdberg Closing this due to inactivity. Please reopen if you are still facing this issue.

[2021-09-24 08:12] #43 closed

[2021-10-11 10:01] Gordonby opened #52 "Not obtaining the latest AZ CLI version"
I'm getting the error
`Error: Please enter a valid azure cli version.  See available versions: https://github.com/Azure/azure-cli/releases.`

When specifying
[code]
I get the error above.
When I remove `azcliversion` the action installs version 2.28.0 of the Azure CLI

v2.28.1 was released 3 days ago.
![image](https://user-images.githubusercontent.com/17914476/136771741-8ccb449b-681b-4ec6-b059-b46

[2021-10-11 10:20] t-dedah commented on #52
Hi @Gordonby We rely on this [list](https://mcrflowprodcentralus.data.mcr.microsoft.com/mcrprod/azure-cli?P1=1633948244&P2=1&P3=1&P4=y%2BNndegj9%2BmK0u06sO1UUBpzQkhW5HwjfmCrGnIR2AU%3D&se=2021-10-11T10%3A30%3A44Z&sig=YL0ufckHpT5pzfwKELpKz50AJXsB%2FnqMqEo58jV%2BLg0%3D&sp=r&sr=b&sv=2015-02-21) for fetching the version, as the latest version here is 2.28.0 thats why the task is failing with 2.28.1.
It

[2021-10-11 20:07] Gordonby opened #53 "Add support for Edge builds"
It'd be great if you could incorporate support for edge builds from the dev branch with a prerelease option.

ref: [https://github.com/Azure/azure-cli#edge-builds](https://github.com/Azure/azure-cli#edge-builds)

[2021-10-27 06:02] #52 closed, assigned to bishal-pdMSFT, t-dedah

[2021-10-31 14:53] simonech opened #54 "Why is the Azure CLI action only available on Linux based runners?"
I tried running the AZ command using the AZ CLI action and I got the following error:

[code]

I'm wondering why enforcing Linux based runners and not allowing windows runner. I ran the same az command with the `run` command and it worked fine on Windows

[2021-11-01 20:57] philip-gai opened #55 "Update tag 1.0.4 to be v1.0.4"
See most recent tag: https://github.com/Azure/cli/releases/tag/1.0.4

Does not follow the naming convention of the rest of the tags: https://github.com/Azure/cli/tags

[2021-11-02 13:40] rvdlaarschot opened #56 "Breaking change latest CLI version"
When running the Azure/cli@1.0.4 action with the latest CLI version (2.30.0 since today) in a workflow I get the following error despite having run the Azure/login@v1 action in a previous step in the same job:

`ERROR: Could not retrieve credential from local cache for service principal *****. Run 'az login' for this service principal.`

Reverting to the previous CLI version by passing the argumen

[2021-11-02 17:33] fhavrlent commented on #56
Getting the same without passing the `azcliversion` and `azure/cli@v1`

[2021-11-02 21:43] marvinbuss commented on #56
I can see the same error when using the latest Azure CLI version.

[2021-11-02 21:57] t-dedah commented on #56
Hi 👋 There is already an issue opened for this error with azure cli team. Will also investigate further if something can be done on our side.

https://github.com/Azure/azure-cli/issues/20153

[2021-11-03 07:23] t-dedah commented on #56
Hi @rvdlaarschot @marvinbuss @fhavrlent The issue is caused due to mismatch between az cli version on the agent and az cli version being used by azure/cli. This will resolve itself once all the agents have latest azcli version until then we will have to rely on specifically using version 2.29.2 in azure/cli.

### Root cause
The is because Azure Login still uses the old ADAL-based Azure CLI 2.29.0

[2021-11-03 23:56] ajmarks commented on #56
I'm guessing this issue with `az login --identity` is related:

[code]

[2021-11-05 07:49] vermegi commented on #56
Hi All,
I think this is the 3rd time (or at least the second) in the last couple of months where a mismatch in CLI version between the runner and this CLI task has made workflows fail. Could something be done to make this more reliable since the versions tend to update apart from each other on this task and on the runners.

[2021-11-07 20:59] t-dedah commented on #56
Hi @vermegi We have raised a PR for new input which if set to true will restrict `latest` to version available on the agent in order to avoid any mismatch. https://github.com/Azure/cli/pull/57
Let us know if you have any comments on the solution.

[2021-11-08 07:43] vermegi commented on #56
@t-dedah yes, that would be an acceptable fix.

[2021-11-10 09:36] cinderashhh commented on #56
We had this issue a week ago and set the azcliversion to 2.0.75. This worked for a week. Suddenly, we faced another issue today (the exact time should be one hour ago), it gave another error message:
![image](https://user-images.githubusercontent.com/79900640/141088063-074d1ec2-c353-4471-9fc5-11072e3fa891.png)
Tried to add the az account set command with no luck...

[2021-11-10 12:20] sazarubin commented on #56
@cinderashhh, https://github.com/Azure/cli/pull/57 changed default version to the version on agent, so to use az-cli action with az login, you need to unpin az CLI version in the action (at least temporarily, until both actions support version pinning)

[2021-11-10 13:07] pdebruin commented on #56
What worked for me was to run az version on azure/loginv1, which returned 2.30.0 (YMMV) and use that as azcliversion like:
    - uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
    - run: |
        az version

    - uses: azure/CLI@v1
      with:
        azcliversion: 2.30.0
        inlineScript: |
            az storage blob upload-batch <snip />

[2021-11-10 13:49] t-dedah commented on #56
@marvinbuss @rvdlaarschot @vermegi @ajmarks @pdebruin @sazarubin

1. Released a long term fix for any further mismatch issues.
Now the default value for `azcliversion` dynamically points to the version installed on agent. So there will be no mismatch again unless someone explicitly mentions `latest`. If for some reason there is no version of az cli on the agent then action fall backs to `latest`.

[2021-11-10 13:50] t-dedah commented on #56
@cinderashhh Can you please open a new issue for your error?

[2021-11-10 13:51] t-dedah commented on #55
@philip-gai  We released a new version for the action with v1.0.5, do you still feel the need for the above change?

[2021-11-10 15:58] Jandev commented on #56
I stumbled across this issue just now and see you have created a fix 2 hours ago.
Should this already be available, seeing I saw this issue ~20 minutes ago.

[2021-11-10 16:02] Jandev commented on #56
I found out one of the tasks still did a `azcliversion: 2.23.0`, so that was causing the error.
Removed it and all steps appear to be working fine now.

[2021-11-10 17:10] philip-gai commented on #55
No it's just a nit, no big deal 😄

Thanks!

[2021-11-10 17:44] t-dedah commented on #55
Closing this issue as updating older tag might break current user scenarios and we also released a new version with proper tag.

[2021-11-10 17:44] #55 closed

[2021-11-10 23:41] restfulhead commented on #56
Ok, but how do we pin the Azure CLI version? It wouldn't be the first time that a newer CLI version breaks things. We need predictable builds...

[2021-11-11 06:57] t-dedah commented on #56
@restfulhead You can still pin using `azcliversion` to any version.
But not setting it up on your own will make sure the action will always pick the version already on the agent so there will be no mismatch.

[2021-11-11 20:55] restfulhead commented on #56
@t-dedah Could you please elaborate how to do that? I'm facing the same issue as the author. Here's the config that used to work, pinning to 2.28.0. This suddenly broke a few days ago without changing anything.

[code]

[2021-11-12 07:18] t-dedah commented on #56
@restfulhead I assume you are using `GitHub Hosted Agent` which got updated to 2.30.0 az cli version this week. And there is a breaking change from version 2.29.2 to 2.30.0, so all the workflows using azure/login on `GitHub Hosted Agent` will fail with any version below 2.30.0.

In order to fix you problem either set `azcliversion`  to 2.30.0

[code]

or leave it to default

[code]

In default cas

[2021-11-12 15:51] restfulhead commented on #56
@t-dedah Thank you for the details. Upgrading to 2.30.0 works, yes. However, I am still wondering what's the best way for the future. If I don't pin the version, then there's the risk that a newer cli version could break things in our workflow. So I would like to be able to pin, however, doing this produced the issue here.

I have a question based on the following, earlier comment.

So the `login`

[2021-11-15 06:31] t-dedah commented on #56
@restfulhead Azure/login is under a separate team so you can raise an issue there but as per current understanding we cant pin a version on Azure/login as it directly uses the [agent version](https://github.com/Azure/login/blob/master/src/main.ts)

Yes you have a valid point that in future some version can still break the actions, but the above fix makes sure its not atleast due to mismatch betwee

[2021-11-15 08:42] jnsvd opened #62 "Error: /bin/sh: 1: az: not found in v1.0.5"
We're getting the following output in the pipeline run logs since `v1.0.5` is released:

[code]

When using previous version `1.0.4` (by configuring `uses: azure/CLI@1.0.4`) no such errors are observed and the build is completing successfully.

[2021-11-15 12:18] t-dedah commented on #62
Hi @jnsvd We released a new version v1.0.6 with a fix for the above issue. Please test and let us know if you are still facing the issue.

PS - v1 is now pointing to v1.0.6 so the above workflow requires no changes.

[2021-11-15 12:24] jnsvd commented on #62
@t-dedah I confirm the fix is working, thank you for the fast response!

[2021-11-15 12:24] #62 closed

[2021-11-15 15:39] dkirrane commented on #56
It looks like this change has broken the Azure `ansible-collections` also.

For example the following no longer works for me.
[code]

I've raised separately here https://github.com/ansible-collections/azure/issues/688

[2021-11-15 17:13] t-dedah commented on #56
@dkirrane Unfortunately we dont own that action so we can't help you on this one.

[2021-11-15 17:50] rue-kcarlton opened #64 "CLI requiring set account command"
Each attempt to run any commands with the azure/cli ends with the same error:
[code]
The same commands were working as of Nov 8, stopped working on Nov 9 with this error.  I attempted to add the following line to each of my uses of the Azure/CLI action, but the same issue persists.
[code]
Running on: ubuntu-latest
here is the full command
[code]

[2021-11-15 18:58] t-dedah commented on #64
Hi @rue-kcarlton Can you please confirm the version of azure cli on the agent?

1. Is it 2.30.0?
2. Also are you using azure/login before azure/cli?

If yes then there is a breaking change from version 2.29.2 to 2.30.0, so all the workflows using azure/login on `GitHub Hosted Agent` will fail with any version below 2.30.0.

In order to fix you problem either set `azcliversion`  to 2.30.0

[code]

[2021-11-15 20:09] rue-kcarlton commented on #64
🤦 I kept reading my `azcliversion` as 2.79.0 instead of 2.0.79.  That was the problem.  Thank you for not making fun of my oversight.

[2021-11-15 20:09] #64 closed

[2021-11-15 20:17] thelongestuserid commented on #64
This solved it for me. I use azure/login, then azure/cli. I changed the azure/cli azureversion to 2.30.0 and the build works now. Thanks.

[2021-11-15 21:04] t-dedah commented on #64
Glad to help 😁

[2021-11-16 09:22] vermegi commented on #56
I just retested with leaving out the azcliversion parameter and can confirm it works for my previously failing workflow.
Code at https://github.com/Azure-Samples/azure-spring-cloud-blue-green/blob/main/.github/workflows/blue-green-deploy.yml

[2021-11-16 10:12] t-dedah commented on #56
Thank you @vermegi for the confirmation.

[2021-11-16 23:34] restfulhead commented on #56
Ok, thanks for confirming. Someone else already created an issue. For anyone following/interested, please upvote https://github.com/Azure/login/issues/164.

[2021-11-17 11:39] jiasli commented on #56
@ajmarks, your `ValueError: invalid literal for int() with base 10: '11/04/2021 23:46:50 +00:00'` issue has been fixed by https://github.com/Azure/azure-cli/pull/20219 and will be released in Azure CLI 2.31.0.

[2021-11-22 05:50] t-dedah commented on #56
Closing this issue as a fixed was released 2 weeks ago.

[2021-11-22 05:50] #56 closed

[2021-11-25 14:44] t-dedah commented on #54
Hi @simonech The docker container which is used to run the commands is only available for linux. If we try to pull that container from mcr in a windows machine which is using windows version of docker then this error is thrown.

[code]

[2021-11-25 15:12] t-dedah commented on #37
Hi @Crisfole , We have updated the readme making az login as an optional step depending upon the use case.

[2021-11-26 07:13] t-dedah commented on #37
Closing this issue for now. Please reopen if you have more followup questions.

[2021-11-26 07:13] #37 closed

[2021-11-26 07:15] t-dedah commented on #54
Closing this issue for now. Please reopen if you have more followup questions.

[2021-11-26 07:15] #54 closed

[2021-12-15 12:12] devlead opened #66 "--sdk-auth deprecated warning"
In repo README you state
[code]

Running this command now gives a deprecated warning.

https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#role

What do you recommend one use instead?

[2021-12-20 18:37] shannawaz opened #67 "az synapse workspace activate fails for --ids option"
zz --version
azure-cli 2.31.0

core 2.31.0
telemetry 1.0.6

**Describe the bug**
I am trying to activate Synapse workspace via AZ CLI command using --ids option. What exactly is needed for --ids to work? The command is unable to get the --name option. Its ignores if I provide the option.

--W/O --name option
az synapse workspace activate --ids /subscriptions/xxxxxxxxxxxxxxxxx/resourceGroups/rg-mdd

[2021-12-20 19:05] t-dedah commented on #66
Hi @devlead, we are trying to get more clarity on this from azure team, will update you once we have all the information.

[2021-12-23 06:57] t-dedah commented on #67
Hi @shannawaz as this issue is more suitable for core azure cli team, we have raised an issue on your behalf. https://github.com/Azure/azure-cli/issues/20814

[2021-12-23 07:37] GopikaV24 opened #68 "Cannot connect to the Docker daemon at unix:///var/run/docker.sock"
I am trying to run Azure Cli in GitHub Selfhosted agent which is provisioned in AKS Cluster.

As AKS has restriction to mount docker.sock, containerd.sock mounted already in self-hosted pod.

But Azure Cli expecting docker.sock mounted in pod.
[code]

[2021-12-27 21:22] devlead commented on #66
Ok thanks 👍

[2021-12-30 09:09] prabhu-mns commented on #68
any feedback on this issue please?

[2022-01-12 08:34] t-dedah commented on #67
Hi @shannawaz , --ids need to send a keyvault resourceid, not workspace resourceid. And if we use --ids, don't need to use --workspace-name and --name.

Source :- https://github.com/Azure/azure-cli/issues/20814#issuecomment-1004552610

[2022-01-12 20:16] shannawaz commented on #67
Thank you, This issue can be closed. Appreciate if the documentation be update for future customers.

Here is current doc

https://docs.microsoft.com/en-us/cli/azure/synapse/workspace?view=azure-cli-latest#az-synapse-workspace-activate

--ids
One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide eit

[2022-01-19 17:45] t-dedah commented on #67
Thanks @shannawaz, I am closing this issue now.

[2022-01-19 17:45] #67 closed

[2022-01-20 07:25] GopikaV24 opened #69 "Error: bash: /_temp/AZ_CLI_GITHUB_ACTION_1642662288004.sh: No such file or directory"
We are trying to run AzureCLI action in our GitHub self-hosted agent which is created in the  AKS cluster. We are getting the following issue,

![image](https://user-images.githubusercontent.com/60219629/150292142-aa8f51eb-539c-42ec-ae42-30e46adb7e5b.png)

Agent Image: ubuntu:20.04
AzureCLI version: 2.32.0

Not sure if anything was missed in configuration?

[2022-01-20 08:13] t-dedah commented on #69
Hi @GopikaV24 this might happen if the file doesnt have executable permissions. You can confirm that using the following command.
[code]
Two methods to fix this:

1. Change file permissions before cli step

[code]

2. directly add ‘sh’ before the command:
[code]

[2022-01-20 08:47] GopikaV24 commented on #69
Hi @t-dedah ,
I have tried to give permission before CLI action and inside CLI action also, getting the same issue.

![image](https://user-images.githubusercontent.com/60219629/150303890-167b8d53-f85c-4d4b-9838-e17cb24e9351.png)

We are getting this issue for inlinescript also.
[code]

[2022-01-20 08:50] t-dedah commented on #69
@GopikaV24 Will it be possible to share the template so that we can replicate the issue?

[2022-01-20 09:01] GopikaV24 commented on #69
@t-dedah, By referring below mentioned repo we are creating a selfhosted image and POD in AKS Cluster.

GitHub Runner in Docker Reference: https://github.com/SanderKnape/github-runner

[2022-01-21 12:27] GopikaV24 commented on #69
Any updates?

[2022-01-21 18:13] Ehsaan-Azizi opened #70 "IPV4 or CIDR for Storage, event hub etc"
hi,
I am trying to add 2 IP or CIDR ranges to my storage account or event hub namespsace in this case using az cli but it won't let me add more than one at a time. I am using this following command:
az eventhubs namespace network-rule add \
                                        --namespace-name ns-name \
                                        --resource-group rg-name

[2022-01-25 07:52] t-dedah commented on #70
Hi @Ehsaan-Azizi, are you able to run the above script with azure cli in the terminal?

[2022-01-28 09:01] DeluxeOwl opened #71 "azure/cli@v1 not working with azure/login@v1 on self-hosted runner"
Hi,

I'm running self hosted runners on k8s using https://github.com/actions-runner-controller/actions-runner-controller, which doesn't have `az cli` installed by default.

So in my workflow, I'm installing it using `curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash` as per MS's documentation and signing in using `azure/login@v1` and a service account which works fine, but when I'm running `a

[2022-01-31 08:07] t-dedah commented on #71
Hi @DeluxeOwl, this generally means that .azure folder is missing in the docker. Is it possible for your to confirm content of the agent using `ls` before `azure/cli` action and again inside the action? We want to confirm whether `.azure` folder is being created and copied correctly.

[2022-01-31 08:46] DeluxeOwl commented on #71
I've removed the deployment part and only did `ls -la`
[code]
![image](https://user-images.githubusercontent.com/54327698/151763294-11aba15e-4a3c-4f81-903f-d483b817a012.png)

It seems like the `.azure` directory is copied but is empty.

[2022-02-01 12:23] Ehsaan-Azizi commented on #70
Hi Deepak,
Sorry for the late reply, yes I can run it in the terminal but it won't let me put more than one subnet.

Regards,

Ehsan Azizi, MS CS
Engineer | IT Infrastructure
________________________________
From: github-actions[bot] ***@***.***>
Sent: Tuesday, February 1, 2022 3:00:50 AM
To: Azure/cli ***@***.***>
Cc: Azizi, Ehsan ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/cli] IPV4 o

[2022-02-08 22:33] Ehsaan-Azizi commented on #70
Hi there,
This issue should not be stale since I replied earlier this month. I still haven't resolved the issue. Please advise!

[2022-02-09 10:17] marcusradell commented on #69
I'm having the same issue when running shell scripts.
And I am calling chmod before executing the script.

[2022-02-16 07:56] t-dedah commented on #70
Hi @Ehsaan-Azizi

If I understand correctly you are not able to run the command even from azure-cli in your terminal. That means the issue if with the underlying cli itself. I have raised an issue with azure-cli team as this repo is for the action based on azure-cli rather than azure-cli itself.

https://github.com/Azure/azure-cli/issues/21098

[2022-02-25 17:31] glloydcorecard commented on #66
has there been any update on this?

[2022-03-03 01:28] briglx opened #72 "Azure CLI use_dynamic_install throws Unhandled promise rejection"
I'm trying to run code that requires the `az automation` extension.

I'm calling `az config set extension.use_dynamic_install=yes_without_prompt`

Related Issue here https://github.com/Azure/azure-cli/issues/21505

[code]
However it throws the following error:

[code]

[2022-03-03 10:08] aparna-ravindra commented on #72
Hey @briglx,
I see that you have already linked the related issue in Azure/azure-cli. Can you please help me understand your expectation from the action?

From your description, my understanding is that the action should continue fail if azure-cli fails but the failure should be handled gracefully so that we do not see the `UnhandledPromiseRejectionWarning` message. Is my understanding correct?

[2022-03-03 16:24] briglx commented on #72
Ideally, the solution should not fail. It's not clear what the root cause is for the failure. Is it the Action container version or is it the CLI

[2022-03-07 01:16] parched commented on #11
I was confused by this also. It appears that the Github-hosted runners come with `az` [pre-installed](https://github.com/actions/virtual-environments/blob/bbc911bacaf802fe776bc49536afa481adf6d0f6/images/linux/Ubuntu2004-Readme.md#cli-tools). I want my job to run on a self-hosted runner that doesn't `az` installed so, as I understand it, `azure/login` can't be used but instead `az login` could be r

[2022-03-07 20:36] tdevopsottawa commented on #72
I'm also receiving this error when using the Azure/cli githu action.

[2022-03-07 20:38] tdevopsottawa opened #73 ""Unhandled promise rejection" error"
I have a pretty simple Azure/cli step in my pipeline that's giving me the error:

[code]

This is the task code:

[code]

[2022-03-08 08:11] t-dedah commented on #73
Hi @tdevopsottawa Can you please provide us with complete logs as there should be a `ERROR` field with correct error message.

![image](https://user-images.githubusercontent.com/59823596/157194302-ccccea90-454b-42fd-bd02-8bf36ce1b7ce.png)

[2022-03-08 08:12] t-dedah commented on #72
Hi @briglx @tdevopsottawa Can you please provide us with complete logs as there should be a `ERROR` field with correct error message.

![image](https://user-images.githubusercontent.com/59823596/157194302-ccccea90-454b-42fd-bd02-8bf36ce1b7ce.png)

[2022-03-08 12:15] t-dedah commented on #68
Hi @prabhu-mns @GopikaV24 👋 as we are specifically running a docker command in order to run the container this is an expected error.  Are you still facing this issue?

A solution for this issue can be adding support for `containerd` in the action but that can take some time.

[2022-03-08 12:17] t-dedah commented on #70
Hi @Ehsaan-Azizi are you still facing this issue? If no then should I go ahead and close the issue. Any further azure-cli related conversation can continue on the issue  created with `azure-cli` team here https://github.com/Azure/azure-cli/issues/21098

[2022-03-08 12:30] t-dedah commented on #66
hI @devlead @glloydcorecard 👋 the above mentioned command is used to generate credentials which are needed by `azure/login` for proper authentication. As `azure/login` doesnt support the new format without `--sdk-auth`, we cannot move forward with read me changes. There is an issue opened with `azure/login` for the same https://github.com/Azure/login/issues/190

[2022-03-15 17:28] #70 closed

[2022-03-21 18:44] Norrch2 opened #74 "Error: Error: docker: invalid reference format."
Hello,

I am attempting to use Azure CLI to upload to a blob storage. I have followed the documentation and am receiving the error message displayed in the title of this bug request. "Error: Error: docker: invalid reference format."

Here is the github action yaml that I am using.

[code]

I have attempted several things to try to resolve this.

1. I have verified the source directory has files in

[2022-03-28 16:34] t-dedah commented on #74
Hi @Norrch2 This looks like a docker issue. I suspect the issue is due to `$web`, can you try these steps:-

1. replace `$web` with random hardcoded value. If this works then we will be sure that the issue is due to `$web`.
2. Then try `${web}` or `$(web)`

[2022-03-28 16:35] #73 closed

[2022-03-28 16:35] t-dedah commented on #72
Hi @briglx Are you still facing this issue?

[2022-03-28 16:36] t-dedah commented on #68
Hi @prabhu-mns Please reopen the issue if you are still facing this issue.

[2022-03-28 16:36] #68 closed

[2022-03-28 16:38] t-dedah opened #75 "Add Support for `containerd`"
AKS is now using `containerd` instead of `docker`. This is leading to failure of the actions when used with AKS.

[See this issue for more details](https://github.com/Azure/cli/issues/68)

[2022-03-28 20:10] Norrch2 commented on #74
Hello @t-dedah

I have tried changing it to a hard coded value and the problem still persists. I have included two screenshots, 1 being the error and the second being the change I made to the yaml.

![image](https://user-images.githubusercontent.com/16027559/160478698-626cedc0-4f43-488c-9df3-ad1e81935e66.png)
![image](https://user-images.githubusercontent.com/16027559/160478816-c973f8ac-f876-42fc-

[2022-03-28 20:10] Norrch2 commented on #74
I have tried using different action versions and cli versions.

[2022-03-29 16:31] Norrch2 commented on #74
is there a way I can run the docker command line on my local machine to be able to troubleshoot that way? I am not certain as to what the CLI command that is being provided by docker is to test.

[2022-03-30 09:11] t-dedah commented on #74
Hi @Norrch2 I tried to reproduce the error but failed to do in the call cases. I used `runs-on: ubuntu-latest`.
Can you please share your `runs-on` field? If its `ubuntu-latest` too then can you please help me reproducing this error?

I tried this and got an error related to `--acount-name` not being a valid parameter but not the docker error.
[code]

[2022-03-30 10:41] Norrch2 commented on #74
Hi @t-dedah

Please try the following: copied and pasted. (account was misspelled)

[code]

[2022-04-01 13:21] garrardkitchen commented on #73
Hi @t-dedah,

I've received this a few times today.  No explanation for it.  Had worked on same Self Hosted Runner (Linux) yesterday with zero code changes since.

Error:
[code]

Can this ticket be reopened please?

Warmest regards,

Garrard.

[2022-04-04 20:15] Norrch2 commented on #74
Hello. May I have an update on this?

[2022-04-08 10:45] t-dedah commented on #74
Hi @Norrch2, I tried multiple combinations and still not able to reproduce the issue.

I tried this and it worked perfectly fine.

[code]

[2022-04-11 03:24] Norrch2 commented on #74
Is there a way to see the docker command that is executed so perhaps I can execute it locally and get an error I can work with?

[2022-04-11 03:51] Norrch2 commented on #74
Okay so it looks like the problem was due to environment variables on the Environment scope instead of the job scope.

The following environment variables were defined and the action didn't like them:

AZURE_FUNCTIONAPP_NAME: randomappname
      AZURE_FUNCTIONAPP_PACKAGE_PATH: randomappname\published
      AZURE_FUNCTIONAPP_PUBLISH_PROFILE: ${{ secrets.randomappname_FFFF }}
      CONFIGURATION: Re

[2022-04-12 00:15] briglx commented on #72
Hi, I think there was an error happening above this line.... I've been able to either work around or resolve the issue.

[2022-04-12 00:15] #72 closed

[2022-04-13 05:39] t-dedah commented on #74
@Norrch2 Thank you for the info. As the issue is resolved now, I am closing the issue. Feel free to reopen if you face any more issues.

[2022-04-13 05:39] #74 closed

[2022-04-13 05:42] t-dedah commented on #66
Closing this issue now. Please track the status of `--sdk-auth` deprecation for `azure/login` [here](https://github.com/Azure/login/issues/190)

[2022-04-13 05:42] #66 closed

[2022-04-15 10:39] t-dedah opened #77 "Feature Requests"
This issue list down multiple feature requests so that we can track then in one place.

1. https://github.com/Azure/cli/issues/75

2. https://github.com/Azure/cli/issues/53

3. https://github.com/Azure/cli/issues/30

[2022-04-15 10:40] t-dedah commented on #30
This request is being tracked here https://github.com/Azure/cli/issues/77
Closing this issue.

[2022-04-15 10:40] #30 closed

[2022-04-15 10:40] t-dedah commented on #75
This request is being tracked here https://github.com/Azure/cli/issues/77
Closing this issue.

[2022-04-15 10:40] #75 closed

[2022-04-15 10:41] t-dedah commented on #53
This request is being tracked here https://github.com/Azure/cli/issues/77
Closing this issue.

[2022-04-15 10:41] #53 closed

[2022-05-27 13:04] alexsab1 opened #78 "Azure Maps - Global in CLI vs location selection in Portal"
When creating Azure Maps v2 in Portal we get presented with Region selection like this

![image](https://user-images.githubusercontent.com/9371364/170704639-3ed70984-0824-409c-931e-ab427509423b.png)

When creating the same resource via CLI, Region selection is not available and it is created as global.

Here's how both resources look side by side

![image](https://user-images.githubusercontent.com

[2022-05-27 13:30] alexsab1 commented on #78
Sorry, wrong repo

[2022-05-27 13:30] #78 closed

[2022-07-27 17:44] sudara opened #79 "Add an example for Azune Key Vault in GA"
Hi there

The official https://github.com/Azure/get-keyvault-secrets Action was recently deprecated (without cause given), pointing to this Action with the vague instruction "pass a custom script".

This has left a bit of confusion about how best do something like grab a code signing certificate from Azure KSM in GitHub Actions.

An example would be really helpful, if indeed this is the recommende

[2022-08-02 08:45] t-dedah commented on #79
Hi @sudara
you can use this az command to fetch a certificate:-

` az keyvault certificate show --name <CERT-NAME> --vault-name <VAULT-NAME>`

If this command works for you in your terminal then same can be used in your workflow like this:-

[code]

This workflow will login for you and the fetch the certificate. Login is necessary as else machine wont have access to your keyvault. Let me know if y

[2022-08-09 17:02] swells opened #80 "azure-mgmt-monitor 4.0.1 might be causing azure ext repo PRs to fail validation in py3.6"
Perhaps commit: https://github.com/Azure/azure-cli/commit/76c224121c05f77f6cf6f17130b6c8fde824e10a  is causing build issues in the azure-cli-extensions repo during ext PRs. This worked ok last week.

Impact is that it is failing and preventing ext's from successfully merging PRs hence can not publish ATM.

<img width="1378" alt="image" src="https://user-images.githubusercontent.com/1356351/1837122

[2022-08-09 17:07] bishal-pdMSFT commented on #80
@swells I did not get how this repo is connected to the failure. The commit you mention is in https://github.com/Azure/azure-cli repo. Perhaps that's where the issue should go to.

[2022-08-09 17:08] #79 closed

[2022-08-09 17:16] swells commented on #80
@bishal-pdMSFT  -- you are correct. I will close and transfer.

[2022-08-09 17:16] #80 closed

[2022-08-10 19:52] jonathan-boudreau-work commented on #66
Hello, I'm getting a 404 with the link provided and will be affected by this once it takes effect.

[2022-09-03 00:16] sergey-ivanchuk opened #82 "az & azure-cli-ml extension for deploying model"
Hi,

I'm roughly following this setup here - https://github.com/marketplace/actions/azure-cli-action

Here's my Github action setup --

[code]

Error messages gets triggered in the last line around `az ml model deploy `, and here's the core feedback:

[code]

Would anything be suggested to easily start-up and run a Docker client (daemon). Seems like I need to have Docker running, but also I will n

[2022-09-13 12:45] t-dedah commented on #82
Hi @sergey-ivanchuk looks like the error is at this line `az acr login --name <>.azurecr.io`, can you please try to put more `echo` lines to confirm where exactly the error is throw?

You can also use `set -x` to find out what exact lines are being executed.

The reason for my suspicion is that `az acr login --name <>.azurecr.io` will require a running docker instance which may not be possible as

[2022-09-15 20:00] dtran3-ilmn commented on #73
Hello, I am also see this error.  Is there any guidance on how to resolve it?

[2022-09-28 07:30] ezYakaEagle442 opened #83 "invalid reference format: repository name must be lowercase"
running azure/CLI fails with  "invalid reference format: repository name must be lowercase"

[https://github.com/ezYakaEagle442/aca-java-petclinic-mic-srv/blob/main/.github/workflows/deploy-iac.yml#L77](https://github.com/ezYakaEagle442/aca-java-petclinic-mic-srv/blob/main/.github/workflows/deploy-iac.yml#L77)
[code]

see [https://github.com/ezYakaEagle442/aca-java-petclinic-mic-srv/actions/runs/3

[2022-09-28 09:40] ezYakaEagle442 commented on #83
is it because the [container name in the UPPERCASE](https://github.com/Azure/cli/blob/master/src/main.ts#L19) ?

What about [https://github.com/Azure/cli/blob/master/src/main.ts#L73](https://github.com/Azure/cli/blob/master/src/main.ts#L73) where the volume settings -v is set without quotes "" as suggested at [https://stackoverflow.com/questions/48522615/docker-error-invalid-reference-format-repos

[2022-10-11 22:24] tjcorr opened #84 "Update to Node16 and new @actions/core"
GitHub Actions is now giving deprecation warnings around this Action:

- [ ] Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: Azure/cli
- [ ] The `save-state` command is deprecated and will be disabled soon. Please u

[2022-10-12 15:53] fleed opened #86 "Run PowerShell scripts in GitHub actions"
It seems that the GitHub action currently supports only bash scripts.
I would like to see support for PowerShell scripts (inline and files) as well.

[2022-10-12 16:37] t-dedah commented on #86
Hi @fleed Actions already support powershell script by just changing the shell type.
[code]

On windows, the default is already `pwsh` so you wont even need to specify that.

[2022-10-12 16:42] fleed commented on #86
@t-dedah could you please provide an example with `az` commands?

[2022-10-12 16:48] #84 closed

[2022-10-12 17:43] tjcorr opened #87 "Unable to use GITHUB_OUTPUT or GITHUB_STEP_SUMMARY"
Previously if you wanted to output data from this task you might use:

`echo '::set-output name=key::value'`

This functionality was recently deprecated per [link](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/). The new mechanism is to use [environment files](https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-command

[2022-10-14 13:55] NaveenTSW opened #89 "Node.js 12 actions are deprecated"
See warnings for Node12 deprecation

"Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: azure/CLI"

the action snippet which is complaining about Node12.
uses: azure/CLI@v1
with:
azcliversion: latest
inlineScript: |

[2022-10-17 09:59] nosvalds commented on #89
Looks like this is being worked on: https://github.com/Azure/cli/pull/85

[2022-10-17 10:02] NaveenTSW commented on #89
yeah thanks @nosvalds , not sure who takes the cut from the merge done https://github.com/Azure/cli/pull/85 and tags new version.

[2022-10-17 20:10] #87 closed

[2022-10-18 10:09] t-dedah commented on #86
Hi @fleed for login we have another action that you can use

[code]

If you can expand more on the exact requirement then we will be able to provide the exact workflow.

[2022-10-18 10:12] fleed commented on #86
Thank you @t-dedah

In general I'm using PowerShell for all my scripts, so I would like to run some scripts with `az` commands.
Executing the login as separate action should make it possible, I will try.

[2022-10-18 11:10] NaveenTSW commented on #89
as this is getting addressed as part of https://github.com/Azure/cli/pull/85 , closing this

[2022-10-18 11:10] #89 closed

[2022-10-18 19:06] tdevopsottawa opened #93 ""Invalid reference format" error"
Attempting to use Azure CLI in a GitHub action using the official GitHub actions CLI to whitelist an IP address through the ACR firewall, with the following code:
[code]
results in: `Error: Error: docker: invalid reference format.`

This action was working flawlessly for months and then suddenly stopped working.

[2022-10-18 20:17] t-dedah commented on #93
Hi @tdevopsottawa we have not released any new version so a change in the working status of the action must be linked with something else. I'll try to replicate this issue.

[2022-10-18 20:29] t-dedah commented on #86
@fleed Feel free to reopen the issue

[2022-10-18 20:29] #86 closed

[2022-10-18 21:00] t-dedah commented on #83
Hi @ezYakaEagle442
The container name is not the issue as we can have any name for the container. I also don't think volume should cause such issues as the possibility of them having a space seems negligible unless in some custom environment where env variables are set incorrectly.
To be double sure about the volume, I have a created a new build with double quotes around the volume which can be ac

[2022-10-26 11:57] Flasheh opened #96 "latest v1.0.7 does not seem to run anything"
Hello

I just noticed there was a new release which seems to have broken our workflow.
It looks like the action isn't actually executing anything. The task doesn't report a failure and the workflow continues, yet there is no output in the logs and it did not do what it is supposed to do.

When reverting back to v1.0.6 everything works as expected.

I am running node 16.

[2022-10-26 12:08] t-dedah commented on #96
Hi @Flasheh the bug has been fixed. Please let us know if you are still facing this issue.

[2022-10-26 12:15] Flasheh commented on #96
@t-dedah I can confirm that the issue has been resolved.

That was quick, thank you 😃

[2022-10-26 13:11] damian-archlet commented on #71
Have the exact same issue. My workaround was to just use the `azure/login@v1` action to login and then a `bash` step to run the rest of my pipeline.
Would be nice to have it working though.

[2022-10-27 14:56] totalitydevelopment opened #97 "Issue Running az cli inline command on windows agent"
I have task working fine on an Ubuntu agent as per:
[code]

When trying the following however:
[code]

I am receiving the error:
`Error: Please use Linux based OS as a runner.`

The documentation isn't quite clear for me:
https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/azure-cli-v1?view=azure-pipelines

Suggests just adding "call" as I have done.

[2022-10-27 15:09] t-dedah commented on #97
Hi @totalitydevelopment we do not support windows user agents which is causing this error for you. Also the documentation you are referring isn't for this action but for a different azure pipeline task. we will update our readme to mention this too.

[Reason for only supporting linux](https://github.com/Azure/cli/issues/54)

[2022-10-27 15:10] t-dedah commented on #97
Feel free to reopen the issue if you have any further questions

[2022-10-27 15:10] #97 closed

[2022-10-27 15:10] totalitydevelopment commented on #97
Thank you for the clarification!!

[2022-11-02 13:30] tdevopsottawa commented on #93
Any updates? I'm now experiencing this issue in other workflows as well

[2022-11-02 13:38] tdevopsottawa commented on #93
@t-dedah Is there a verbose logging mode? Would be nice to do more thorough debugging

[2022-11-02 20:20] springcomp opened #98 "Consider using an improved JMESPath library"
More than a feature request, this issue is my formal way to introduce [JMESPath Community](https://jmespath.site/main/).

For many months we at JMESPath Community worked on [brainstorming ideas](https://github.com/jmespath-community/jmespath.spec/discussions) for new features and curated a [reasonably scoped set of new features](https://github.com/jmespath-community/jmespath.spec/discussions?discu

[2022-11-02 20:23] #98 closed